@{
    ViewBag.Title = "_Contact";
}

<html lang="en">
	<head>
		<title>MyClinic</title>
		<link rel="stylesheet" href="~/Content/styles.css" />
	</head>
<body background="~/img/wallpaper2.jpg">
<div class="wrapper">
	<div id="header" class="clear">
	    <a href="contact.html">
            <img src="~/img/logo.jpg" class="logo left">
        </a>
	  <div id="menu" class="right">
			<div class="nav_top clear">
			 @RenderSection("Logout", false)
            @RenderSection("Login", false)
			</div>
		  <nav>
		      @RenderSection("Contact", false)
              @RenderSection("PatientContact", false)
              @RenderSection("DoctorContact", false)
			</nav>
		</div>
	</div>

	 <div id="post-554" class="post-554 page type-page status-publish hentry page">
									<div class ="contact">		
<h2><strong>MyClinic</strong> Contact Information</h2>					
<div class="container">Telephone: (512) 556-3621</div>
<div class="container">Billing Office: (512) 556-3621<br />
Fax: +1 (512) 556-4080</div>
Address: 3 Terenure Road West, Dublin 6, Ireland<br />
<div class="container tail1">Email: <a href="mailto:info@myclinic.ie" target="_blank" data-behavior="truncate">info@myclinic.ie</a></div>
<br />
<p><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3416.2113609203557!2d-97.92134!3d31.103856999999994!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865ab72eb380ecc1%3A0x89f92e41147bb533!2s2401+Walker+Pl+Blvd%2C+Copperas+Cove%2C+TX+76522!5e0!3m2!1sen!2sus!4v1422906013355" height="300" width="350" frameborder="0"></iframe></p>

<p>&nbsp;</p>
									<div class="pagination">
									  									</div><!--.pagination-->
								  </div><!--#post-# .post-->
							  
								                        </div>
                    </div>
                    <br class="clear" />
                </div>
           	</div>
        </div>
    </div>	 
<div id="footer">
        <div class="bot-left">
            <div class="bot-right">
            	
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>

